body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    text-align: center;
    margin: auto;
  }

.Description {
    font-weight: 400;
}

ol {
    text-align: left;
    display: inline-block;
    padding: auto;
    border: 100px;   
}

ul {
    text-align: left;
    display: inline-block;
    padding: auto;
    border: 100px; 
}